<div class="metrics-row" data-component="metric-inline">
  <% metrics.each do |metric| %>
    <span class="metric-pill" <%= "data-trend=#{metric.trend}" if metric.trend %>>
      <span class="metric-label"><%= metric.label %></span>
      <span class="metric-value"><%= metric.value %></span>
      <% if metric.trend %>
        <span class="metric-trend" data-direction="<%= metric.trend %>"><%= trend_indicator(metric.trend) %></span>
      <% end %>
    </span>
  <% end %>
</div>
